* {
  margin: 0;
  border: 0;
}
body {
  
  overflow-x: hidden;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  
  
}
nav {
  
  grid-area: menu;
  background: yellow;
  color: black;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.flex img {
  width: 3em;
}
.grid {
  display: none;
}
aside {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  grid-area: filtro;
  background: black;
  color: #ffed3a;
}
.side-flex {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
}
.side-flex h3 {
  font-size: medium;
}
.side-flex p {
  display: flex;
  justify-content: center;
}
main {
  padding: 10px;
  grid-area: seccion-principal;
  background: black;
  color: yellow;
}
.main-flex {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.card img {
  width: 20em;
  height: 20em;
}
footer {
  padding: 10px;
  grid-area: pie-de-pagina;
  background: yellow;
  color: black;
}
.footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
div {
  display: grid;
  grid-template-rows: 1fr 1 1fr;
  grid-template-areas:
    "menu"
    "filtro"
    "seccion-principal"
    "pie-de-pagina";
}
.paginacion {
  display: grid;
  justify-content: center;
  align-items: center;
  
  
}
.Paginación {
  background-color: black;
}
.pagination {
  display: flex;
  gap: 10px;
  padding: 0;
  list-style: none;
}


.pagination li {
  display: inline;
}

.pagination a {
  text-decoration: none;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 5px;
  color: yellow;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.pagination a:hover {
  background-color: yellow;
  color: black;
}
.pagination .active {
  background-color: black;
  color: yellow;
}
@media (min-width: 576px) {
  div {
    grid-template-areas:
      "menu filtro"
      "menu seccion-principal"
      "pie-de-pagina seccion-principal";
    grid-template-columns: 1fr 10fr;
  }
  .flex {
    display: flex;
    flex-direction: column;
    gap: 8em;
  }
  .grid {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    font-size: large;
  }
  .nav-container {
    display: flex;
    gap: 1em;
  }
  .icon {
    display: none;
  }
  .side-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
  }
  .titulo {
    padding-left: 30em;
  }
  .input {
    display: flex;
    width: 100%;
  }
  .input input {
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .main-flex {
    grid-template-columns: 1fr 1fr 1fr;
    font-size: large;
  }
  .paginacion {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    padding-left: 4em;
  }
  .Paginación {
    background-color: black;
  }
  .pagination {
    display: flex;
    gap: 10px;
    padding: 0;
    list-style: none;
}
.pagination li {
    display: inline;
}
.pagination a {
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 5px;
    color: yellow;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
.pagination a:hover {
    background-color: yellow;
    color: black;
}
.pagination .active {
    background-color: black;
    color: yellow;
}
  .footer-flex {
    white-space: nowrap;
  }
}
